:root
{
    --primary-clr: rgb(151, 49,49,1);
}
/* Modal */
.custom-modal-container {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.custom-modal-items {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 600px;
}

.custom-modal-items h4 {
    text-align: center;
    font-size: 20px;
}

.custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-modal-content {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

.custom-modal-content p {
    line-height: 0;
}

.custom-modal-content h4 {
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-size: 30px;
}

.custom-admin-info {
    display: flex;
    align-items: center;
}

.custom-admin-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-admin-details {
    display: flex;
    flex-direction: column;
}

.custom-forward-button {
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    background: none;
    padding: 10px;
    color: var(--primary-clr);
    font-weight: 600;
}

.custom-forward-button i {
    margin-right: 5px;
}

.custom-modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.custom-add-close-button {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--primary-clr);
}

.custom-add-container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.custom-add-container.show {
    max-height: 100px; /* Adjust as needed */
    opacity: 1;
}

.custom-add-container.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.add-service {
    width: 85%;
    height: 50px;
    border: none; /* Remove default border */
    border-bottom: 1px solid #ccc; /* Add bottom border */
    border-radius: 0; /* Reset border-radius if needed */
    padding: 5px; /* Add padding for better appearance */
    outline: none; /* Remove outline on focus */
    font-size: 30px;
    margin-right: 25px;
}

.add-service:focus {
    border-bottom-color: var(--primary-clr); /* Change border color on focus if desired */
}

.button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: var(--primary-clr);
    border-radius: 20px;
    color: white;
    font-size: 30px;
    outline: none;
    border: none;
    padding: 5px;
}

.button i {
    margin-right: 5px; /* Margin for icon spacing */
}

.button:hover {
    background-color: var(--primary-clr); /* Darker background on hover */
}

.button:focus {
    outline: none; /* Remove outline on focus */
}




